<% errors.forEach(function(message) { %>
    <div class="alart alert-danger text-center"><%= message %></div>
<% }) %>

<% success.forEach(function(message) { %>
    <div class="alart alert-success text-center"><%= message %></div>
<% }) %>